/* base */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  outline: none;
  border: none;
  color: var(--white);
}

:root {
  --base: #1db954;
  --second: #000;
  --third: #919496;
  --bg: #1d75de;
  --white: #fff;
  --title: "Montserrat", sans-serif;
  --text: "Rubik", sans-serif;
}

img {
  max-width: 100%;
}

.row {
  display: flex;
}

.black-btns {
  background-color: var(--second);
  border-radius: 100px;
  border: 5px solid var(--second);
  cursor: pointer;
  font-size: 1rem;
  font-family: var(--text);
  font-weight: 700;
}

span a {
  font-size: 0.8rem;
  display: block;
  text-decoration: underline;
}

button {
  background-color: transparent;
}

h1,
h2,
h3,
h4 {
  font-family: var(--title);
  color: var(--second);
}

p {
  font-family: var(--text);
}

/* base */
/* header */
header {
  background-color: var(--second);
  width: 100%;
  position: relative;
}

#header {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.5rem;
}

#logo a {
  color: var(--white);
  font-family: var(--title);
  transition: 0.5s ease;
  align-items: center;
  gap: 0.5rem;
}

nav {
  align-items: center;
  position: relative;
}

nav ul {
  border-right: 1px solid white;
  margin-right: 2rem;
}

nav ul li {
  cursor: pointer;
  color: var(--white);
  transition: 0.5s ease;
  font-family: var(--text);
  font-size: 1.2rem;
  font-weight: 400;
  margin-right: 1.5rem;
}

nav ul li:hover {
  color: var(--base);
}

.profile-btn,
i {
  font-size: 1.6rem;
  background-color: transparent;
  color: var(--white);
  font-family: var(--text);
  cursor: pointer;
  transition: 0.5s ease;
}

.fa-user {
  margin-right: 0.8rem;
}
.fa-angle-down {
  margin-left: 0.3rem;
}

.profile-btn:hover i,
.profile-btn:hover {
  color: var(--base);
}

.active-profile {
  right: -3rem;
  bottom: -100px;
  position: absolute;
  background-color: var(--white);
  border-radius: 7px;
  padding: 1rem;
  display: none;
}

.active-profile.on {
  display: block;
}

.active-profile ul {
  border: none;
}

.active-profile ul li {
  color: var(--second);
}

#mobile-btn {
  cursor: pointer;
  z-index: 999;
  display: none;
  position: relative;
  transition: 1s ease;
}

#mobile-btn.active {
  transform: rotate(90deg);
}

#user-icon {
  display: none;
}

#mobile-btns-box {
  align-items: center;
}
/* header */

/* active-mobile-menu */
#active-mobile-menu {
  position: absolute;
  background-color: var(--second);
  width: 0vw;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 99;
  transition: 1s ease;
  overflow: hidden;
}

#active-mobile-menu.active {
  width: 50vw;
  right: 0;
}
/* active-mobile-menu */

/* mobile menu items */
.mobile-menu-items {
  padding: 2rem 0 0 2rem;
  margin-top: 2rem;
}

.mobile-menu-items a {
  font-family: var(--title);
  transition: 0.5s ease;
}

.mobile-menu-items a:hover {
  color: var(--base);
}

.mobile-menu-items h2 a {
  color: grey;
}

.bar {
  background-color: var(--white);
  width: 1rem;
  height: 2px;
  margin-block: 2rem;
}

/* mobile menu items */

/* cta-area */
#cta-area {
  background-color: var(--bg);
  width: 100%;
}

.cta h1 {
  font-size: 2.5rem;
  font-family: var(--title);
  margin-bottom: 2rem;
  color: var(--white);
}

.cta p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.cta {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
  padding-block: 2rem;
}

.cta span a {
  margin-top: 4rem;
}

.cta-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}
.cta-btn {
  padding-block: 0.875rem;
  padding-inline: 2rem;
}

.cta-btn:hover {
  transform: scale(1.05);
}

.white-btn {
  background-color: transparent;
  border: 2px solid var(--white);
  border-radius: 100px;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  font-family: var(--title);
  margin-left: 1rem;
}
/* cta-area */

/* main */
main {
  width: 100%;
  max-width: 1400px;
  margin: 3rem auto 0 auto;
}

.main-header-first {
  background-color: var(--white);
  text-align: center;
}

.main-header-first h1 {
  font-size: 2.5rem;
}

#premium-adv {
  margin-top: 4rem;
  padding-bottom: 4rem;
}

#premium-adv ul {
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.premium {
  width: 16rem;
  max-width: 19rem;
  text-align: center;
}

.premium img {
  width: 8rem;
}

.premium h2,
.premium p {
  color: var(--second);
}

.premium h2 {
  font-size: 1rem;
}

#choose-premium {
  padding-block: 4rem;
  background-color: #efefef;
}

#choose-premium {
  margin: 3rem auto 0 auto;
  max-width: 1400px;
}
.main-header-second {
  margin: 0 auto;
  width: 80%;
  max-width: 1400px;
  background-color: transparent;
  text-align: center;
}

.main-header-second h1 {
  font-size: 2.5rem;
}

.main-header-second p {
  color: var(--second);
}

#premium-opts {
  margin: 3rem auto 0 auto;
  width: 90%;
  max-width: 1400px;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.premium-opt {
  width: 17rem;
  max-width: 25rem;
  border-radius: 7px;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1rem 0 1rem 0;
}

.inside-content {
  width: 15rem;
  max-width: 19rem;
  margin: 0 auto;
  position: relative;
  height: 40rem;
}

.payment-method{
  padding: .3rem;
  border: 1px solid var(--bg);
  border-radius: 6px;
  display: inline;
}

.inside-content p {
  color: var(--bg);
  font-weight: 700;
}

.cost {
  border-bottom: 1px solid var(--second);
  padding-bottom: 1rem;
  margin-top: 1rem;
}

.cost h3,
.cost p {
  color: var(--second);
  font-weight: 400;
}

.cost p {
  margin-block: 0.5rem;
}

.inside-li-content {
  align-items: center;
  gap: 1rem;
}

.premium-opt ul li p,
.premium-opt ul li i {
  color: var(--second);
}

.premium-opt ul li p {
  font-weight: 400;
}

.premium-opt ul li {
  margin-top: 1rem;
}

.premium-btn {
  width: 100%;
  padding-block: 0.5rem;
  position: absolute;
  bottom: 10px;
  left: 0;
}

/* main */
/* footer */

footer {
  background-color: var(--second);
  padding-block: 5rem;
}

#footer-content {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-inside-content {
  gap: 3rem;
  flex-wrap: wrap;
}

.footer-inside-content a {
  align-items: center;
  gap: 0.5rem;
}

.footer-info h4 {
  color: var(--third);
  font-weight: 700;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.footer-info ul li {
  margin-top: 1rem;
}

.footer-info ul li a {
  transition: 0.5s ease;
  font-family: var(--text);
}

.footer-info ul li a:hover,
.footer-icons ul li i:hover {
  color: var(--base);
}

.footer-icons ul {
  gap: 1rem;
}

.footer-icons ul li {
  padding: .5rem;
  border-radius: 100px;
  background-color: #252525;
  text-align: center;
}

#location{
  width: 80%;
  max-width: 1400px;
  margin: 8rem auto 0 auto;
  text-align: right;
}

#location i {
  font-size: 1rem;
  cursor: default;
  margin-right: .2rem;
  color: var(--third);
}
#location span{
  transition: .5s ease;
  cursor: pointer;
  color: var(--third);
}
#location span:hover{
  color: var(--base);
}

#legal-information{
  width: 80%;
  max-width: 1400px;
  margin: 1rem auto 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

#legal-information span{
  color: var(--third);
}

#legal-information ul {
  gap: 1rem;
  flex-wrap: wrap;
}

#legal-information ul li a{
  transition: .5s ease;
  color: var(--third);
}

#legal-information ul li a:hover{
  color: var(--base);
}

/* footer */

@media (max-width: 768px) {
  #profile-btn {
    display: none;
  }

  #mobile-btn {
    display: block;
  }

  #user-icon {
    display: block;
  }

  nav ul li {
    display: none;
  }

  .footer-icons{
    margin-top: 5rem;
  }
}

@media (max-width: 540px) {
  #active-mobile-menu.active {
    width: 100vw;
    right: 0;
  }

  .cta-buttons{
    width: 100%;
  }

  .cta-buttons .cta-btn{
    width: 100%;
    margin: 1rem 0 0 0;

  }

  .premium-opt{
    width: 25rem;
  }

  .inside-content{
    width: 23rem;
  }

}
